<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShopHelper_v0._0.Properties.RolesForSpecificForm" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ShopHelperMembershipDb" connectionString="your connection string here" />
  </connectionStrings>

  <system.web>
    <membership defaultProvider="MyMembershipProvider" userIsOnlineTimeWindow="1">
      <providers>
        <clear />
        <add name="MyMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="ShopHelperMembershipDb"
             minRequiredPasswordLength="5"
             minRequiredNonalphanumericCharacters="0"
             requiresUniqueEmail="false"
             applicationName="ShopHelper_Sofia"
          requiresQuestionAndAnswer="false" />
        </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="ShopHelperMembershipDb"
          applicationName="ShopHelper_Sofia"
          name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider" />
        </providers>
    </roleManager>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICRUD" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="service url here"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_****"
        contract="serviceName.****" name="BasicHttpBinding_****" />
    </client>
  </system.serviceModel>
  
  <userSettings>
    <ShopHelper_v0._0.Properties.RolesForSpecificForm>
      <setting name="Admin" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Admin</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Manager" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Admin</string>
          </ArrayOfString>
        </value>
      </setting>
    </ShopHelper_v0._0.Properties.RolesForSpecificForm>
  </userSettings>
</configuration>